- var color = require("./settings.json").color;
- var stars = function (username, repo) {
-   return `https://img.shields.io/badge/dynamic/json.svg?label=star&url=https%3A%2F%2Fapi.github.com%2Frepos%2F${username}%2F${repo}&query=%24.stargazers_count&style=flat-square&colorA=black&colorB=${color}&maxAge=86400`
- };

doctype html
html
  head
    title Vlad Faust
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Vlad Faust")
    meta(property="og:site_name" content="VladFaust.com")
    meta(property="og:description" content="An experienced developer creating fast and beautiful applications in Crystal")
    meta(property="og:image" content="https://vladfaust.com/img/me.jpg")
    meta(property="og:url" content="https://vladfaust.com")
    script(src="bundle.js")
  body
    div.bar
    h1.top My name is Vlad Faust
    p I'm a programmer with 7 years of developing experience and counting.
    p
      | I have almost 2 years of&nbsp;
      a(href="https://crystal-lang.org") Crystal
      |  experience as well. I've chosen it because of its beauty, expressiveness and efficiency.
    p
      | You can contact me via&nbsp;
      a(href="mailto:mail@vladfaust.com") mail@vladfaust.com
      | ,&nbsp;
      a(href="https://github.com/vladfaust") GitHub
      | ,&nbsp;
      a(href="https://vk.com/vladfaust") VK
      | , or&nbsp;
      a(href="https://t.me/vladfaust") Telegram
      | .
    h2 My Crystal projects:
    ul.projects
      li
        a(href="https://github.com/vladfaust/prism")
          span.title Prism
          img(src=stars("vladfaust", "prism"))
        |  an expressive web framework with typed params
      li
        a(href="https://github.com/vladfaust/core")
          span.title Core
          img(src=stars("vladfaust", "core"))
        | an expressive modular ORM
      li
        a(href="https://github.com/vladfaust/crystalworld")
          span.title Crystal World
          img(src=stars("vladfaust", "crystalworld"))
        span
          | the&nbsp;
          a(href="https://realworld.io") realworld.io
          |  back-end API implementation in Crystal
      li
        a(href="https://crystaljobs.org")
          span.title Crystal Jobs
        | the place to find a Crystal developer
    h2 My Crystal shards:
    ul.projects
      li
        a(href="https://github.com/vladfaust/migrate.cr")
          span.title Migrate
          img(src=stars("vladfaust", "migrate.cr"))
        |  a database migration solution
      li
        a(href="https://github.com/vladfaust/validations.cr")
          span.title Validations
          img(src=stars("vladfaust", "validations.cr"))
        |  a validations mixin
      li
        a(href="https://github.com/vladfaust/callbacks.cr")
          span.title Callbacks
          img(src=stars("vladfaust", "callbacks.cr"))
        |  the expressive callbacks module
      li
        a(href="https://github.com/vladfaust/cake-bake.cr")
          span.title Cake-Bake
          img(src=stars("vladfaust", "cake-bake.cr"))
        |  an utility shard to bake Cakefile (just like Rake tasks) into binaries
      li
        a(href="https://github.com/vladfaust/tarantool-crystal")
          span.title Tarantool
          img(src=stars("vladfaust", "tarantool-crystal"))
        span
          |  the&nbsp;
          a(href="https://tarantool.io") tarantool
          |  database driver
      li
        a(href="https://github.com/vladfaust/http-multiserver.cr")
          span.title HTTP::Multiserver
          img(src=stars("vladfaust", "http-multiserver.cr"))
        |  an utility shard to map web applications
      li
        a(href="https://github.com/vladfaust/i18n.cr")
          span.title I18n
          img(src=stars("vladfaust", "i18n.cr"))
        |  an internationalization shard
      li
        a(href="https://github.com/vladfaust/time_format.cr")
          span.title TimeFormat
          img(src=stars("vladfaust", "time_format.cr"))
        |  a shard to humanize time spans
    h2 Non-crystal projects:
    ul.projects
      li
        a(href="https://github.com/vladfaust/unity-wakatime")
          span.title Unity Wakatime
          img(src=stars("vladfaust", "unity-wakatime"))
        |  a Unity Wakatime integration (C#)
      li
        a(href="http://xgm.guru/p/ufs")
          span.title UFS Arena
        |  a Warcraft 3 custom map (cJASS)
