- var color = require("./settings.json").color;
- var stars = function (username, repo) {
-   return `https://img.shields.io/badge/dynamic/json.svg?label=star&url=https%3A%2F%2Fapi.github.com%2Frepos%2F${username}%2F${repo}&query=%24.stargazers_count&style=flat-square&colorA=black&colorB=red&maxAge=86400`
- };

doctype html
html
  head
    title Vlad Faust
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Vlad Faust")
    meta(property="og:site_name" content="VladFaust.com")
    meta(property="og:description" content="An experienced developer creating fast and beautiful open-source projects")
    meta(property="og:image" content="https://vladfaust.com/img/me.jpg")
    meta(property="og:url" content="https://vladfaust.com")
    script(src="bundle.js")
    script(async, src="https://c6.patreon.com/becomePatronButton.bundle.js")
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-87763635-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-87763635-1');
  body
    div.bar
    h1.top My name is Vlad Faust
    p I'm a programmer with 7 years of developing experience and counting.
    p
      | I have almost 2 years of&nbsp;
      a(href="https://crystal-lang.org") Crystal
      |  experience as well. I've chosen it because of its beauty, expressiveness and efficiency.
    p
      | You can contact me via&nbsp;
      a(href="mailto:mail@vladfaust.com") mail@vladfaust.com
      | ,&nbsp;
      a(href="https://github.com/vladfaust") GitHub
      | ,&nbsp;
      a(href="https://twitter.com/vladfaust") Twitter
      | , or&nbsp;
      a(href="https://t.me/vladfaust") Telegram
      | .
    h2 My Crystal projects:
    ul.projects
      li
        a(href="https://github.com/onyxframework")
          span.title Onyx Framework
        span.wip (WIP)
        |  powerful framework for modern applications
      li
        a(href="https://github.com/worcr")
          span.title Worcr
        span.wip (WIP)
        |  heavy-duty background job processing
      li
        a(href="https://crystaljobs.org")
          span.title Crystal Jobs
        | the perfect place to find a Crystal developer
      li
        a(href="https://github.com/vladfaust/crystalworld")
          span.title Crystal World
          img(src=stars("vladfaust", "crystalworld"))
        span
          | the&nbsp;
          a(href="https://realworld.io") realworld.io
          |  back-end API implementation in Crystal
    h2 My open-source Crystal shards:
    ul.projects
      li
        a(href="https://github.com/vladfaust/stripe.cr")
          span.title Stripe
          img(src=stars("vladfaust", "stripe.cr"))
        span
          span.wip (WIP)
          |  the&nbsp;
          a(href="https://stripe.com/") Stripe
          |  API wrapper
      li
        a(href="https://github.com/vladfaust/migrate.cr")
          span.title Migrate
          img(src=stars("vladfaust", "migrate.cr"))
        |  a database migration solution
      li
        a(href="https://github.com/vladfaust/http-params-serializable")
          span.title HTTP::Params::Serializable
          img(src=stars("vladfaust", "http-params-serializable"))
        |  the HTTP params parsing module
      li
        a(href="https://github.com/vladfaust/mini_redis")
          span.title MiniRedis
          img(src=stars("vladfaust", "mini_redis"))
        |  a light-weight Redis client
      li
        a(href="https://github.com/vladfaust/validations.cr")
          span.title Validations
          img(src=stars("vladfaust", "validations.cr"))
        |  a validations mixin
      li
        a(href="https://github.com/vladfaust/callbacks.cr")
          span.title Callbacks
          img(src=stars("vladfaust", "callbacks.cr"))
        |  the expressive callbacks module
      li
        a(href="https://github.com/vladfaust/cake-bake.cr")
          span.title Cake-Bake
          img(src=stars("vladfaust", "cake-bake.cr"))
        |  an utility shard to bake Cakefile (just like Rake tasks) into binaries
      li
        a(href="https://github.com/vladfaust/tarantool.cr")
          span.title Tarantool
          img(src=stars("vladfaust", "tarantool.cr"))
        span
          |  the&nbsp;
          a(href="https://tarantool.io") Tarantool
          |  database driver
      li
        a(href="https://github.com/vladfaust/http-multiserver.cr")
          span.title HTTP::Multiserver
          img(src=stars("vladfaust", "http-multiserver.cr"))
        |  an utility shard to map web applications
      li
        a(href="https://github.com/vladfaust/i18n.cr")
          span.title I18n
          img(src=stars("vladfaust", "i18n.cr"))
        |  an internationalization shard
      li
        a(href="https://github.com/vladfaust/time_format.cr")
          span.title TimeFormat
          img(src=stars("vladfaust", "time_format.cr"))
        |  a shard to humanize time spans
    h2 My non-Crystal projects:
    ul.projects
      li
        a(href="https://github.com/vladfaust/unity-wakatime")
          span.title Unity Wakatime
          img(src=stars("vladfaust", "unity-wakatime"))
        |  a Unity Wakatime integration (C#)
    h2 Supporters:
    ul.supporters
      li.rare
        a(href="https://github.com/ljuti") Lauri Jutila
    p.thanks
      i Thanks to all my supporters for helping me to dedicate even more time on the open-source projects!
    .patreon-button
      a(href="https://www.patreon.com/vladfaust")
        img(src="/img/patreon.svg")
